<!doctype html>
<!DOCTYPE html>
<html ng-app="a_atendance">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>A:Attend</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}" />
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main-app.css') }}" />

	<script type="text/javascript" src="static/js/angular.js"></script>
	<script type="text/javascript" src="static/js/ui-bootstrap.min.js"></script>
	<script type="text/javascript" src="static/js/app.js"></script>
    <script type="text/javascript" src="../static/js/angular-route.js"></script>
</head>
<body ng-controller="indexPageController">
	<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="#">A:Attend</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" ng-click="linkToUcilnice()">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>

	<div ng-view>

	</div>




</body>
</html>
