<div ng-controller="ucilnicaPageController">
    <div class="ucilnica-header col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <img class="ucilnica-header-img img-responsive" src="static/img/predavalnica.jpg" alt="sliak ucilncie" />
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-11 ">
                <h1>P01</h1>
                <label>opis////</label> <br/>
                <label>Prisotnih studentov: xyz</label>
            </div>
        </div>
    </div>
    <div class="ucilnica-content col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="student" > <!-- ng-repeat="s in student" -->
            <div class="row">
                <div class="col-lg-2">
                    <img src="https://placehold.it/50x50" alt="profile image" />
                </div>
                <div class="col-lg-2 text">
                    Matija Kljun
                </div>
                <div class="col-lg-2 col-lg-offset-6 text" >
                    last here: 11.11
                </div>
            </div>
        </div>
        <div class="student" > <!-- ng-repeat="s in student" -->
            <div class="row">
                <div class="col-lg-2">
                    <img src="https://placehold.it/50x50" alt="profile image" />
                </div>
                <div class="col-lg-2 text">
                    Matija Kljun
                </div>
                <div class="col-lg-2 col-lg-offset-6 text" >
                    last here: 11.11
                </div>
            </div>
        </div>
        <div class="student" > <!-- ng-repeat="s in student" -->
            <div class="row">
                <div class="col-lg-2">
                    <img src="https://placehold.it/50x50" alt="profile image" />
                </div>
                <div class="col-lg-2 text">
                    Matija Kljun
                </div>
                <div class="col-lg-2 col-lg-offset-6 text" >
                    last here: 11.11
                </div>
            </div>
        </div>
        <div class="student" > <!-- ng-repeat="s in student" -->
            <div class="row">
                <div class="col-lg-2">
                    <img src="https://placehold.it/50x50" alt="profile image" />
                </div>
                <div class="col-lg-2 text">
                    Matija Kljun
                </div>
                <div class="col-lg-2 col-lg-offset-6 text" >
                    last here: 11.11
                </div>
            </div>
        </div>
    </div>
</div>
