<div ng-controller="ucilnicePageController">
    <div class="panel panel-default panel-ucilnice">
        <div class="panel-body">
            <h2>Ucilnice</h2>
        </div>
    </div>
    <div class="ucilnice-container">
        <div class="ucilnica-div" ng-click="displayUcilnica(name)" ng-repeat="(name, value) in ucilnice" >
            <img class="ucilnica-img" src="static/img/predavalnica.jpg" alt="slika ucilnice" ng-model="name"/>
            <div class="ucilnica-body">
                <h1>{$ name $}</h1>
                <label>{$ value.opis $}</label><br/>
                <label>Prisotnih studentov: 14</label>
            </div>
        </div>
    </div>
</div>
